<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AboutIt{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand">Navbar</a>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-link active" aria-current="page" href="#">Home</a>
	        <a class="nav-link" href="#">Login</a>
	        <a class="nav-link" href="#">Signup</a>
	        <a class="nav-link">Logout</a>
	      </div>
      	</div>
	    <form class="d-flex" role="search">
	      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	<div class="container">
		{% block content %}

		{% endblock content %}
	</div>

	

    <script type="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


<tbody>
                                                            <tr>
                                    <td>pene</td>
<td>pene</td><td>e</td>
<td>d</td>
<td>a</td>
<td>a</td>

                                </tr>
                                                        <tr>
                                    <td>pene</td>
<td>pene</td><td>e</td>
<td>d</td>
<td>a</td>
<td>a</td>

                                </tr><tr>
                                    <td>pene</td>
<td>pene</td><td>e</td>
<td>d</td>
<td>a</td>
<td>a</td>

                                </tr><tr>
                                    <td>pene</td>
<td>pene</td><td>e</td>
<td>d</td>
<td>a</td>
<td>a</td>

                                </tr><tr>
                                    <td>ELC001</td>
<td>Z</td><td>ADM. REC. HUM.</td>
<td>PRESENCIAL</td>
<td>I</td>
<td>20:00-21:30</td>

                                </tr></tbody>